asttokens
async-generator
attrs
autopep8
backcall
beautifulsoup4
bidict
blinker
bokeh
branca
bs4
certifi
cffi
charset-normalizer
click
colorama
colorclass
comm
contourpy
cycler
Cython
debugpy
decorator
dnspython
docopt
et-xmlfile
eventlet
exceptiongroup
executing
ffpyplayer
Flask
folium
fonttools
gevent
gevent-websocket
gmplot
greenlet
h11
idna
imutils
ipykernel
ipython
itsdangerous
jedi
Jinja2
jupyter_client
jupyter_core
kiwisolver
MarkupSafe
matplotlib
matplotlib-inline
nest-asyncio
numpy
opencv-contrib-python
opencv-python
openpyxl
outcome
packaging
pandas
parso
pexpect
pickleshare
Pillow
pip-upgrader
platformdirs
prompt-toolkit
psutil
ptyprocess
pure-eval
pycodestyle
pycparser
Pygments
pyparsing
PyPDF2
PySocks
python-dateutil
python-engineio
python-socketio
pytz
pywin32
PyYAML
pyzmq
requests
scipy
selenium
simple-websocket
six
sniffio
sortedcontainers
soupsieve
stack-data
terminaltables
toml
tomli
tornado
traitlets
trio
trio-websocket
tzdata
urllib3
wcwidth
websocket-client
Werkzeug
wsproto
xyzservices
zope.event
zope.interface
